*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #001e4d;
}
.app{
    width: 90%;
    max-width: 550px;
    background: #fff;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    color: #001e4d;
    text-align: center;
    border-bottom: 1px solid #001e4d;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    color: #001e4d;
}
.btn
{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
}
.btn:disabled{
    cursor: no-drop;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;  
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-size: 25px;
    width: 150px;
    padding: 5px;
    margin: 20px auto 0;
    border: 1px solid #222;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}